/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-tap-highlight-color: transparent;
  word-wrap: break-word;
  box-sizing: border-box; }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

::-webkit-input-placeholder {
  color: #999; }

html {
  font-size: 100%;
  background: #FFF;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (max-device-width: 480px) {
    html {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; } }

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 24px; }

img {
  -ms-interpolation-mode: bicubic; }

.scroll-measure {
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  right: 0;
  left: 0;
  z-index: 2000; }
  .scroll-measure.scroll,
  .scroll-locked .scroll-measure {
    overflow: scroll; }
  .scroll-measure > div {
    height: 100%;
    width: 100%;
    position: relative; }

.title-stylesheet {
  border-bottom: 1px solid #CCC;
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 12px;
  padding-top: 36px;
  padding-bottom: 12px;
  text-align: left; }
  .title-stylesheet:first-child {
    padding-top: 0; }

.subtitle-stylesheet {
  border-bottom: 1px solid #CCC;
  color: #BBB;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-bottom: 12px;
  text-align: left; }
  .subtitle-stylesheet:first-child {
    padding-top: 0; }

.codeblock-stylesheet {
  border: 1px solid #CCC;
  font-size: 12px;
  margin: 0 0 24px;
  padding: 6px 12px; }

textarea {
  height: auto;
  overflow: auto;
  resize: none; }

.select-replace {
  display: block;
  position: relative;
  padding: 0; }
  .select-replace select {
    appearance: none;
    background: none;
    border: 0;
    box-shadow: none;
    position: relative;
    text-indent: 0.01px;
    text-overflow: '';
    z-index: 2; }

label,
input[type='submit'],
button {
  cursor: pointer; }

input[type='search'] {
  appearance: none;
  -webkit-appearance: none; }
  input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration {
    display: none; }

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='week'],
input[type='month'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea {
  appearance: none; }

label input,
label textarea,
label select {
  display: block; }

textarea {
  height: 180px;
  white-space: normal;
  overflow: auto;
  padding: 6px 10px; }
  @media (min-width: 48em) {
    textarea {
      padding: 12px 15px;
      height: 180px; } }

.select-replace {
  display: block;
  padding: 0;
  position: relative; }
  .select-replace select {
    appearance: none;
    background: none;
    border: 0;
    box-shadow: none;
    position: relative;
    text-indent: 0.01px;
    text-overflow: '';
    z-index: 2; }

input[type='radio'],
input[type='checkbox'] {
  height: auto;
  width: auto;
  background: none;
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0; }
  .lt-ie9 input[type='radio'], .lt-ie9
  input[type='checkbox'] {
    display: inline; }

.radio,
.checkbox {
  font-size: 12px;
  display: block;
  line-height: 18px;
  margin-bottom: 6px;
  padding-top: 12px;
  padding-left: 25px;
  position: relative; }
  @media (min-width: 61.25em) {
    .radio,
    .checkbox {
      font-size: 16px;
      line-height: 30px;
      padding-top: 6px; } }
  @media (min-width: 48em) {
    .radio:first-child,
    .checkbox:first-child {
      margin-top: 6px; } }
  .radio.disabled,
  .checkbox.disabled {
    color: #CCC; }
  .radio.checklist-item,
  .checkbox.checklist-item {
    margin-top: 0; }
  .radio .checkbox-replace,
  .radio .radio-replace,
  .checkbox .checkbox-replace,
  .checkbox .radio-replace {
    position: absolute;
    top: 7px;
    left: 0; }
  .radio.radio-style-a, .radio.radio-style-b,
  .checkbox.radio-style-a,
  .checkbox.radio-style-b {
    background-color: #EBEBEB;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 5px 12px 35px;
    width: 100%; }
    .no-js .radio.radio-style-a, .no-js .radio.radio-style-b, .no-js
    .checkbox.radio-style-a, .no-js
    .checkbox.radio-style-b {
      padding: 12px; }
    .radio.radio-style-a .radio-replace, .radio.radio-style-b .radio-replace,
    .checkbox.radio-style-a .radio-replace,
    .checkbox.radio-style-b .radio-replace {
      background-color: transparent;
      border-color: #639DAC;
      left: 10px;
      top: 12px; }
    .radio.radio-style-a.checked, .radio.radio-style-b.checked,
    .checkbox.radio-style-a.checked,
    .checkbox.radio-style-b.checked {
      background-color: #FFF;
      box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.3); }

.no-js .radio,
.no-js .checkbox {
  padding-left: 0; }
  .no-js .radio input,
  .no-js .checkbox input {
    box-shadow: none;
    padding: 0;
    display: inline-block;
    width: auto; }

.checkbox-replace-input,
.radio-replace-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .checkbox-replace-input.focusable:active, .checkbox-replace-input.focusable:focus,
  .radio-replace-input.focusable:active,
  .radio-replace-input.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.checkbox-replace,
.radio-replace {
  height: 24px;
  width: 24px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #639DAC;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 0;
  padding: 0;
  position: relative;
  outline: 0;
  transition: none;
  vertical-align: top; }
  .checkbox-replace::-moz-focus-inner,
  .radio-replace::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .checkbox-replace:hover,
  input:focus + .checkbox-replace,
  input:active + .checkbox-replace,
  .radio-replace:hover,
  input:focus +
  .radio-replace,
  input:active +
  .radio-replace {
    border-color: #009688; }
  input[disabled] + .checkbox-replace, input[disabled] +
  .radio-replace {
    background: #F0F0F0;
    border-color: #747172;
    color: #747172;
    cursor: not-allowed; }
    input[disabled] + .checkbox-replace:hover, input[disabled] + .checkbox-replace:focus, input[disabled] +
    .radio-replace:hover, input[disabled] +
    .radio-replace:focus {
      border-color: #747172; }
  input[disabled] + .checkbox-replace:hover, input[disabled] + .checkbox-replace:focus, input[disabled] +
  .radio-replace:hover, input[disabled] +
  .radio-replace:focus {
    border-color: #747172; }

.checkbox-replace {
  border-radius: 2px; }
  .checkbox-replace:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 16px;
    content: "\2714";
    display: none; }
  input:checked + .checkbox-replace {
    color: #fff;
    background: #009688;
    border-color: #009688; }
    input:checked + .checkbox-replace:after {
      display: block; }

.radio-replace {
  border-radius: 100%; }
  .radio-replace:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: all 100ms; }
  input:checked + .radio-replace:after {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px; }

@media (min-width: 48em) {
  .input-mini {
    width: 50px; }
  .input-small {
    width: 80px; }
  .input-medium {
    width: 130px; }
  .input-large {
    width: 180px; }
  .input-xlarge {
    width: 230px; }
  .input-xxlarge {
    width: 280px; }
  .input-xxxlarge {
    width: 330px; }
  .input-xxxxlarge {
    width: 380px;
    max-width: 90%; } }

.input-full {
  width: 100%; }
  .input-full input {
    overflow: visible; }

input[type='file'] {
  width: auto;
  padding: initial;
  line-height: initial;
  background-color: initial;
  border: initial;
  box-shadow: none;
  cursor: pointer; }

.form-actions {
  margin-top: 12px; }
  .form-actions .btn {
    margin-bottom: 6px; }

.main {
  overflow: hidden;
  position: relative; }

.layout {
  margin: 0 20px;
  max-width: 1180px;
  position: relative; }
  .layout:before, .layout:after {
    display: table;
    content: ""; }
  .layout:after {
    clear: both; }
  @media (min-width: 75em) {
    .layout {
      margin: 0 auto; } }

@media (min-width: 48em) {
  .region {
    position: relative;
    float: left; } }

.region-inner {
  position: relative; }

.block {
  float: left;
  margin-bottom: 18px;
  max-width: 100%;
  width: 100%; }
  .block img {
    height: auto;
    max-width: 100%;
    vertical-align: top; }
  .block.block--last + .block {
    clear: both; }

.block--sizer {
  float: left;
  max-width: 100%; }

.gutter-sizer {
  float: left;
  max-width: 100%; }

@media (min-width: 48em) {
  .region-a {
    width: 100%;
    float: left;
    position: relative; }
    .region-a .region-inner {
      width: 101.69492%;
      position: relative; }
    .region-a .block {
      margin-right: 1.66667%; }
    .region-a .gutter-sizer {
      width: 1.66667%; } }

@media (min-width: 48em) {
  .region-a .block--single {
    width: 2.5%; } }

@media (min-width: 48em) {
  .region-a .block--size-a {
    width: 98.33333%; } }

@media (min-width: 48em) {
  .region-a .block--size-b {
    width: 65%; } }

@media (min-width: 48em) {
  .region-a .block--size-c {
    width: 31.66667%; } }

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

.list-unstyled-full {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-unstyled-full ol,
  .list-unstyled-full ul {
    list-style: none;
    margin: 0;
    padding: 0; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none; }

h1,
.h1,
.giga {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 12px; }

h2,
.h2,
.mega {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 12px; }

h3,
.h3,
.alpha {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 6px; }

h4,
.h4,
.beta {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 12px; }

h5,
.h5,
.gamma {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px; }

h6,
.h6,
.delta {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 12px; }

p {
  margin-bottom: 18px; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.btn {
  background: none;
  background-color: #CCC;
  background-image: none;
  border: 2px solid #CCC;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0;
  min-height: 32px;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 250ms, border-color 250ms;
  vertical-align: top;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 48em) {
    .btn {
      font-size: 16px;
      line-height: 20px;
      min-height: 44px;
      padding: 12px 20px; } }
  .btn:hover, .btn:focus {
    background: #b3b3b3;
    border-color: #b3b3b3;
    box-shadow: none; }
  .btn:active, .btn.active {
    box-shadow: none;
    outline: 0; }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    opacity: 0.65;
    box-shadow: none;
    cursor: default;
    pointer-events: none; }

.btn-small {
  font-size: 12px;
  line-height: 20px;
  min-height: 32px;
  padding: 6px 15px; }
  @media (min-width: 48em) {
    .btn-small {
      font-size: 12px;
      line-height: 20px;
      min-height: 32px;
      padding: 6px 15px; } }

.btn-large {
  font-size: 16px;
  line-height: 20px;
  min-height: 44px;
  padding: 12px 20px; }
  @media (min-width: 48em) {
    .btn-large {
      font-size: 18px;
      line-height: 38px;
      min-height: 62px;
      padding: 12px 30px; } }

.btn-style-a {
  background-color: #639DAC;
  border-color: #639DAC;
  color: #FFF; }
  .btn-style-a:hover, .btn-style-a:focus {
    background: #4c8290;
    border-color: #4c8290; }

.btn-style-b {
  background-color: #009688;
  border-color: #009688;
  color: #FFF; }
  .btn-style-b:hover, .btn-style-b:focus {
    background: #00635a;
    border-color: #00635a; }

.btn-style-c {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #FFF; }
  .btn-style-c:hover, .btn-style-c:focus {
    background: #3d8b40;
    border-color: #3d8b40; }

.btn-style-d {
  background-color: #F44336;
  border-color: #F44336;
  color: #FFF; }
  .btn-style-d:hover, .btn-style-d:focus {
    background: #f77066;
    border-color: #f77066; }

.btn-no-style {
  min-height: 0;
  padding: 0;
  background: none;
  border: none;
  min-width: 0; }
  @media (min-width: 48em) {
    .btn-no-style {
      min-width: 0;
      min-height: 0;
      padding: 0;
      background: none;
      border: none; } }
  .btn-no-style:hover, .btn-no-style:focus {
    color: inherit;
    box-shadow: none;
    padding: 0;
    background: none;
    border: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '';
    display: table; }
  .clearfix:after {
    clear: both; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.no-transition,
.no-transition * {
  transition: none !important; }

.csstransforms .vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.csstransforms .horizontally-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.csstransforms .totally-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.margin-left-1 {
  margin-left: 3.33333%; }

.margin-left-2 {
  margin-left: 6.66667%; }

.margin-left-3 {
  margin-left: 10%; }

.margin-left-4 {
  margin-left: 13.33333%; }

.margin-left-5 {
  margin-left: 16.66667%; }

.margin-left-6 {
  margin-left: 20%; }

.margin-left-7 {
  margin-left: 23.33333%; }

.margin-left-8 {
  margin-left: 26.66667%; }

.margin-left-9 {
  margin-left: 30%; }

.margin-left-10 {
  margin-left: 33.33333%; }

.margin-left-11 {
  margin-left: 36.66667%; }

.margin-left-12 {
  margin-left: 40%; }

.margin-left-13 {
  margin-left: 43.33333%; }

.margin-left-14 {
  margin-left: 46.66667%; }

.margin-left-15 {
  margin-left: 50%; }

.margin-left-16 {
  margin-left: 53.33333%; }

.margin-left-17 {
  margin-left: 56.66667%; }

.margin-left-18 {
  margin-left: 60%; }

.margin-left-19 {
  margin-left: 63.33333%; }

.margin-left-20 {
  margin-left: 66.66667%; }

.margin-left-21 {
  margin-left: 70%; }

.margin-left-22 {
  margin-left: 73.33333%; }

.margin-left-23 {
  margin-left: 76.66667%; }

.margin-right-1 {
  margin-right: 3.33333%; }

.margin-right-2 {
  margin-right: 6.66667%; }

.margin-right-3 {
  margin-right: 10%; }

.margin-right-4 {
  margin-right: 13.33333%; }

.margin-right-5 {
  margin-right: 16.66667%; }

.margin-right-6 {
  margin-right: 20%; }

.margin-right-7 {
  margin-right: 23.33333%; }

.margin-right-8 {
  margin-right: 26.66667%; }

.margin-right-9 {
  margin-right: 30%; }

.margin-right-10 {
  margin-right: 33.33333%; }

.margin-right-11 {
  margin-right: 36.66667%; }

.margin-right-12 {
  margin-right: 40%; }

.margin-right-13 {
  margin-right: 43.33333%; }

.margin-right-14 {
  margin-right: 46.66667%; }

.margin-right-15 {
  margin-right: 50%; }

.margin-right-16 {
  margin-right: 53.33333%; }

.margin-right-17 {
  margin-right: 56.66667%; }

.margin-right-18 {
  margin-right: 60%; }

.margin-right-19 {
  margin-right: 63.33333%; }

.margin-right-20 {
  margin-right: 66.66667%; }

.margin-right-21 {
  margin-right: 70%; }

.margin-right-22 {
  margin-right: 73.33333%; }

.margin-right-23 {
  margin-right: 76.66667%; }

.padding-left-1 {
  padding-left: 3.33333%; }

.padding-left-2 {
  padding-left: 6.66667%; }

.padding-left-3 {
  padding-left: 10%; }

.padding-left-4 {
  padding-left: 13.33333%; }

.padding-left-5 {
  padding-left: 16.66667%; }

.padding-left-6 {
  padding-left: 20%; }

.padding-left-7 {
  padding-left: 23.33333%; }

.padding-left-8 {
  padding-left: 26.66667%; }

.padding-left-9 {
  padding-left: 30%; }

.padding-left-10 {
  padding-left: 33.33333%; }

.padding-left-11 {
  padding-left: 36.66667%; }

.padding-left-12 {
  padding-left: 40%; }

.padding-left-13 {
  padding-left: 43.33333%; }

.padding-left-14 {
  padding-left: 46.66667%; }

.padding-left-15 {
  padding-left: 50%; }

.padding-left-16 {
  padding-left: 53.33333%; }

.padding-left-17 {
  padding-left: 56.66667%; }

.padding-left-18 {
  padding-left: 60%; }

.padding-left-19 {
  padding-left: 63.33333%; }

.padding-left-20 {
  padding-left: 66.66667%; }

.padding-left-21 {
  padding-left: 70%; }

.padding-left-22 {
  padding-left: 73.33333%; }

.padding-left-23 {
  padding-left: 76.66667%; }

.padding-right-1 {
  padding-right: 3.33333%; }

.padding-right-2 {
  padding-right: 6.66667%; }

.padding-right-3 {
  padding-right: 10%; }

.padding-right-4 {
  padding-right: 13.33333%; }

.padding-right-5 {
  padding-right: 16.66667%; }

.padding-right-6 {
  padding-right: 20%; }

.padding-right-7 {
  padding-right: 23.33333%; }

.padding-right-8 {
  padding-right: 26.66667%; }

.padding-right-9 {
  padding-right: 30%; }

.padding-right-10 {
  padding-right: 33.33333%; }

.padding-right-11 {
  padding-right: 36.66667%; }

.padding-right-12 {
  padding-right: 40%; }

.padding-right-13 {
  padding-right: 43.33333%; }

.padding-right-14 {
  padding-right: 46.66667%; }

.padding-right-15 {
  padding-right: 50%; }

.padding-right-16 {
  padding-right: 53.33333%; }

.padding-right-17 {
  padding-right: 56.66667%; }

.padding-right-18 {
  padding-right: 60%; }

.padding-right-19 {
  padding-right: 63.33333%; }

.padding-right-20 {
  padding-right: 66.66667%; }

.padding-right-21 {
  padding-right: 70%; }

.padding-right-22 {
  padding-right: 73.33333%; }

.padding-right-23 {
  padding-right: 76.66667%; }

.visible-smallscreen,
.visible-mediumscreen,
.visible-largescreen {
  display: none; }

.visible-smallscreen {
  display: block; }

@media (min-width: 48em) {
  .visible-mediumscreen {
    display: block; } }

@media (min-width: 61.25em) {
  .visible-largescreen {
    display: block; } }

@media (min-width: 48em) {
  .hidden-mediumscreen {
    display: none; } }

@media (min-width: 61.25em) {
  .hidden-largescreen {
    display: none; } }
