/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-tap-highlight-color: transparent;
  word-wrap: break-word;
  box-sizing: border-box; }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

::-webkit-input-placeholder {
  color: #999; }

html {
  font-size: 100%;
  background: #f7f7f7;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (max-device-width: 480px) {
    html {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; } }

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5rem; }

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

a {
  text-decoration: none; }

p a:hover {
  text-decoration: underline; }

.scroll-measure {
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  right: 0;
  left: 0;
  z-index: 2000; }
  .scroll-measure.scroll,
  .scroll-locked .scroll-measure {
    overflow: scroll; }
  .scroll-measure > div {
    height: 100%;
    width: 100%;
    position: relative; }

.title-stylesheet {
  border-bottom: 1px solid #CCC;
  font-size: 2.5rem;
  line-height: 1.875rem;
  margin-bottom: 12px;
  padding-top: 36px;
  padding-bottom: 12px;
  text-align: left; }
  .title-stylesheet:first-child {
    padding-top: 0; }

.subtitle-stylesheet {
  border-bottom: 1px solid #CCC;
  color: #BBB;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-bottom: 12px;
  text-align: left; }
  .subtitle-stylesheet:first-child {
    padding-top: 0; }

.codeblock-stylesheet {
  border: 1px solid #CCC;
  font-size: 0.75rem;
  margin: 0 0 24px;
  padding: 6px 12px; }

textarea {
  height: auto;
  overflow: auto;
  resize: none; }

.select-replace {
  display: block;
  position: relative;
  padding: 0; }
  .select-replace select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    box-shadow: none;
    position: relative;
    text-indent: 0.01px;
    text-overflow: '';
    z-index: 2; }

label,
input[type='submit'],
button {
  cursor: pointer; }

input[type='search'] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }
  input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration {
    display: none; }

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='week'],
input[type='month'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

label input,
label textarea,
label select {
  display: block; }

textarea {
  height: 180px;
  white-space: normal;
  overflow: auto;
  padding: 6px 10px; }
  @media (min-width: 48em) {
    textarea {
      padding: 12px 15px;
      height: 180px; } }

.select-replace {
  display: block;
  padding: 0;
  position: relative; }
  .select-replace select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    box-shadow: none;
    position: relative;
    text-indent: 0.01px;
    text-overflow: '';
    z-index: 2; }

input[type='radio'],
input[type='checkbox'] {
  height: auto;
  width: auto;
  background: none;
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0; }
  .lt-ie9 input[type='radio'], .lt-ie9
  input[type='checkbox'] {
    display: inline; }

.radio,
.checkbox {
  font-size: 0.75rem;
  display: block;
  line-height: 1.125rem;
  margin-bottom: 6px;
  padding-top: 12px;
  padding-left: 25px;
  position: relative; }
  @media (min-width: 61.25em) {
    .radio,
    .checkbox {
      font-size: 1rem;
      line-height: 1.875rem;
      padding-top: 6px; } }
  @media (min-width: 48em) {
    .radio:first-child,
    .checkbox:first-child {
      margin-top: 6px; } }
  .radio.disabled,
  .checkbox.disabled {
    color: #CCC; }
  .radio.checklist-item,
  .checkbox.checklist-item {
    margin-top: 0; }
  .radio .checkbox-replace,
  .radio .radio-replace,
  .checkbox .checkbox-replace,
  .checkbox .radio-replace {
    position: absolute;
    top: 7px;
    left: 0; }
  .radio.radio-style-a, .radio.radio-style-b,
  .checkbox.radio-style-a,
  .checkbox.radio-style-b {
    background-color: #EBEBEB;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 5px 12px 35px;
    width: 100%; }
    .no-js .radio.radio-style-a, .no-js .radio.radio-style-b, .no-js
    .checkbox.radio-style-a, .no-js
    .checkbox.radio-style-b {
      padding: 12px; }
    .radio.radio-style-a .radio-replace, .radio.radio-style-b .radio-replace,
    .checkbox.radio-style-a .radio-replace,
    .checkbox.radio-style-b .radio-replace {
      background-color: transparent;
      border-color: #3084EC;
      left: 10px;
      top: 12px; }
    .radio.radio-style-a.checked, .radio.radio-style-b.checked,
    .checkbox.radio-style-a.checked,
    .checkbox.radio-style-b.checked {
      background-color: #FFF;
      box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.3); }

.no-js .radio,
.no-js .checkbox {
  padding-left: 0; }
  .no-js .radio input,
  .no-js .checkbox input {
    box-shadow: none;
    padding: 0;
    display: inline-block;
    width: auto; }

.checkbox-replace-input,
.radio-replace-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .checkbox-replace-input.focusable:active, .checkbox-replace-input.focusable:focus,
  .radio-replace-input.focusable:active,
  .radio-replace-input.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.checkbox-replace,
.radio-replace {
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #3084EC;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 0;
  padding: 0;
  position: relative;
  outline: 0;
  transition: none;
  vertical-align: top; }
  .checkbox-replace::-moz-focus-inner,
  .radio-replace::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .checkbox-replace:hover,
  input:focus + .checkbox-replace,
  input:active + .checkbox-replace,
  .radio-replace:hover,
  input:focus +
  .radio-replace,
  input:active +
  .radio-replace {
    border-color: #009688; }
  input[disabled] + .checkbox-replace, input[disabled] +
  .radio-replace {
    background: #F0F0F0;
    border-color: #747172;
    color: #747172;
    cursor: not-allowed; }
    input[disabled] + .checkbox-replace:hover, input[disabled] + .checkbox-replace:focus, input[disabled] +
    .radio-replace:hover, input[disabled] +
    .radio-replace:focus {
      border-color: #747172; }
  input[disabled] + .checkbox-replace:hover, input[disabled] + .checkbox-replace:focus, input[disabled] +
  .radio-replace:hover, input[disabled] +
  .radio-replace:focus {
    border-color: #747172; }

.checkbox-replace {
  border-radius: 2px; }
  .checkbox-replace:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 1rem;
    content: "\2714";
    display: none; }
  input:checked + .checkbox-replace {
    color: #fff;
    background: #009688;
    border-color: #009688; }
    input:checked + .checkbox-replace:after {
      display: block; }

.radio-replace {
  border-radius: 100%; }
  .radio-replace:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: all 100ms; }
  input:checked + .radio-replace:after {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px; }

@media (min-width: 48em) {
  .input-mini {
    width: 50px; }
  .input-small {
    width: 80px; }
  .input-medium {
    width: 130px; }
  .input-large {
    width: 180px; }
  .input-xlarge {
    width: 230px; }
  .input-xxlarge {
    width: 280px; }
  .input-xxxlarge {
    width: 330px; }
  .input-xxxxlarge {
    width: 380px;
    max-width: 90%; } }

.input-full {
  width: 100%; }
  .input-full input {
    overflow: visible; }

input[type='file'] {
  width: auto;
  padding: initial;
  line-height: initial;
  background-color: initial;
  border: initial;
  box-shadow: none;
  cursor: pointer; }

.form-actions {
  margin-top: 12px; }
  .form-actions .btn {
    margin-bottom: 6px; }

.main {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%; }

.layout {
  margin: 0 20px;
  max-width: 1180px;
  position: relative; }
  .layout:before, .layout:after {
    display: table;
    content: ""; }
  .layout:after {
    clear: both; }
  @media (min-width: 75em) {
    .layout {
      margin: 0 auto; } }

@media (min-width: 48em) {
  .region {
    position: relative;
    float: left; } }

.region-inner {
  position: relative; }

.block {
  float: left;
  margin-bottom: 18px;
  max-width: 100%;
  width: 100%; }
  .block img {
    height: auto;
    max-width: 100%;
    vertical-align: top; }
  .block.block--last + .block {
    clear: both; }

.block--sizer {
  float: left;
  max-width: 100%; }

.gutter-sizer {
  float: left;
  max-width: 100%; }

@media (min-width: 48em) {
  .region-a {
    width: 100%;
    float: left;
    position: relative; }
    .region-a .region-inner {
      width: 101.69492%;
      position: relative; }
    .region-a .block {
      margin-right: 1.66667%; }
    .region-a .gutter-sizer {
      width: 1.66667%; } }

@media (min-width: 48em) {
  .region-a .block--single {
    width: 2.5%; } }

@media (min-width: 48em) {
  .region-a .block--size-a {
    width: 98.33333%; } }

@media (min-width: 48em) {
  .region-a .block--size-b {
    width: 65%; } }

@media (min-width: 48em) {
  .region-a .block--size-c {
    width: 31.66667%; } }

@font-face {
  font-family: 'code_bold';
  src: url("../assets/fonts/code/code_bold-webfont.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'code_light';
  src: url("../assets/fonts/code/code_light-webfont.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("../assets/fonts/icon_font/icons.eot?mylyn7");
  src: url("../assets/fonts/icon_font/icons.eot?mylyn7#iefix") format("embedded-opentype"), url("../assets/fonts/icon_font/icons.ttf?mylyn7") format("truetype"), url("../assets/fonts/icon_font/icons.woff?mylyn7") format("woff"), url("../assets/fonts/icon_font/icons.svg?mylyn7#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\e904"; }

.icon-menu:before {
  content: "\e905"; }

.icon-email:before {
  content: "\e900"; }

.icon-linkedin:before {
  content: "\e901"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-github:before {
  content: "\e903"; }

.list-unstyled, .list-style-a, .primary-navigation ul,
.utility-navigation ul, .tab-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.list-unstyled-full {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-unstyled-full ol,
  .list-unstyled-full ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.list-style-a li {
  border-bottom: dotted 2px #000;
  padding-left: 20px;
  margin-bottom: 12px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "code_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none; }
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong,
  h6 strong {
    font-family: "code_bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1,
.h1,
.giga,
.intro-title {
  font-size: 2.625rem;
  line-height: 2.625rem;
  margin-bottom: 6px; }
  @media (min-width: 37.5em) {
    h1,
    .h1,
    .giga,
    .intro-title {
      font-size: 5.25rem;
      line-height: 5.25rem;
      margin-bottom: 12px; } }

h2,
.h2,
.mega,
.section-style-a .section-title {
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin-bottom: 6px; }
  @media (min-width: 37.5em) {
    h2,
    .h2,
    .mega,
    .section-style-a .section-title {
      font-size: 3.375rem;
      line-height: 3.375rem;
      margin-bottom: 12px; } }

h3,
.h3,
.alpha,
.article-style-a .article-title {
  font-size: 1.875rem;
  line-height: 1.875rem;
  margin-bottom: 6px; }
  @media (min-width: 37.5em) {
    h3,
    .h3,
    .alpha,
    .article-style-a .article-title {
      font-size: 2.625rem;
      line-height: 2.625rem;
      margin-bottom: 6px; } }

h4,
.h4,
.beta,
.accordion-title,
.section-style-b .section-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 12px; }

h5,
.h5,
.gamma {
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin-bottom: 12px; }

h6,
.h6,
.delta {
  font-size: 1rem;
  line-height: 1.125rem;
  margin-bottom: 12px; }

p {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 1.125rem; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.btn {
  background: none;
  background-color: #CCC;
  background-image: none;
  border: 2px solid #CCC;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 0;
  min-height: 32px;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 250ms, border-color 250ms;
  vertical-align: top;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 48em) {
    .btn {
      font-size: 1rem;
      line-height: 1.25rem;
      min-height: 44px;
      padding: 12px 20px; } }
  .btn:hover, .btn:focus {
    background: #b3b3b3;
    border-color: #b3b3b3;
    box-shadow: none; }
  .btn:active, .btn.active {
    box-shadow: none;
    outline: 0; }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    opacity: 0.65;
    box-shadow: none;
    cursor: default;
    pointer-events: none; }

.btn-small {
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 32px;
  padding: 6px 15px; }
  @media (min-width: 48em) {
    .btn-small {
      font-size: 0.75rem;
      line-height: 1.25rem;
      min-height: 32px;
      padding: 6px 15px; } }

.btn-large {
  font-size: 1rem;
  line-height: 1.25rem;
  min-height: 44px;
  padding: 12px 20px; }
  @media (min-width: 48em) {
    .btn-large {
      font-size: 1.125rem;
      line-height: 2.375rem;
      min-height: 62px;
      padding: 12px 30px; } }

.btn-style-a {
  background-color: #3084EC;
  border-color: #3084EC;
  color: #FFF; }
  .btn-style-a:hover, .btn-style-a:focus {
    background: #146ad5;
    border-color: #146ad5; }

.btn-style-b {
  background-color: #009688;
  border-color: #009688;
  color: #FFF; }
  .btn-style-b:hover, .btn-style-b:focus {
    background: #00635a;
    border-color: #00635a; }

.btn-style-c {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #FFF; }
  .btn-style-c:hover, .btn-style-c:focus {
    background: #3d8b40;
    border-color: #3d8b40; }

.btn-style-d {
  background-color: #F44336;
  border-color: #F44336;
  color: #FFF; }
  .btn-style-d:hover, .btn-style-d:focus {
    background: #f77066;
    border-color: #f77066; }

.btn-no-style {
  min-height: 0;
  padding: 0;
  background: none;
  border: none;
  min-width: 0; }
  @media (min-width: 48em) {
    .btn-no-style {
      min-width: 0;
      min-height: 0;
      padding: 0;
      background: none;
      border: none; } }
  .btn-no-style:hover, .btn-no-style:focus {
    color: inherit;
    box-shadow: none;
    padding: 0;
    background: none;
    border: none; }

.link-style-a, .primary-navigation li a {
  position: relative;
  transition: color 250ms ease; }
  .link-style-a:after, .primary-navigation li a:after {
    transition: width 300ms, color 250ms ease;
    content: '';
    display: block;
    height: 1px;
    background: #3084EC;
    width: 0%;
    left: 50%;
    position: relative;
    transform: translateX(-50%); }
  @media (min-width: 48em) {
    .link-style-a:hover, .primary-navigation li a:hover, .link-style-a:focus, .primary-navigation li a:focus {
      color: #3084EC; }
      .link-style-a:hover:after, .primary-navigation li a:hover:after, .link-style-a:focus:after, .primary-navigation li a:focus:after {
        width: 80%; } }

.header {
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
  padding: 24px 10px; }
  @media (min-width: 37.5em) {
    .header {
      padding: 24px 20px; } }

.header-inner {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center; }

.header-logo {
  line-height: 0;
  margin-bottom: 0;
  width: 46px;
  margin-right: 10px; }
  .header-logo a {
    display: block; }

.svg-logo {
  fill: #3084EC; }

@media (max-width: 48em) {
  .navigation-menu {
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 5px #3084EC;
    background: #fff;
    padding: 10px;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 350ms ease; } }

.navigation-menu-in .navigation-menu {
  transform: none; }

@media (min-width: 48em) {
  .navigation-menu {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; } }

.primary-navigation,
.utility-navigation {
  float: left;
  width: 100%;
  text-align: center; }
  @media (min-width: 48em) {
    .primary-navigation,
    .utility-navigation {
      width: auto;
      text-align: left; } }
  .primary-navigation li,
  .utility-navigation li {
    display: block;
    border-bottom: solid 2px #3084EC; }
    @media (min-width: 48em) {
      .primary-navigation li,
      .utility-navigation li {
        border: none;
        display: inline-block;
        margin: 0 10px; } }
  .primary-navigation a,
  .utility-navigation a {
    display: block;
    padding: 12px 0;
    color: #404040;
    text-transform: lowercase; }
    @media (min-width: 48em) {
      .primary-navigation a,
      .utility-navigation a {
        padding: 0; } }

.utility-navigation {
  margin-bottom: 6px;
  margin-top: 24px; }
  @media (min-width: 48em) {
    .utility-navigation {
      margin: 0;
      float: right; } }
  .utility-navigation li {
    display: inline-block;
    border: none; }
  .utility-navigation a {
    display: block;
    padding: 12px 10px;
    transition: color 250ms ease; }
    .utility-navigation a:hover {
      color: #3084EC; }
    @media (min-width: 48em) {
      .utility-navigation a {
        padding: 12px 0; } }
  .utility-navigation .icon {
    vertical-align: middle;
    font-size: 2rem; }

.navigation-menu-actions {
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 48em) {
    .navigation-menu-actions {
      display: none; } }

.navigation-menu-btn .icon {
  transition: color 250ms ease;
  font-size: 1.75rem;
  vertical-align: middle;
  color: #404040; }

.navigation-menu-btn:hover .icon {
  color: #3084EC; }

.navigation-menu-open {
  display: block; }
  .navigation-menu-in .navigation-menu-open {
    display: none; }

.navigation-menu-close {
  display: none; }
  .navigation-menu-in .navigation-menu-close {
    display: block; }

.footer {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  padding: 6px 20px; }

.intro {
  text-align: center;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 37.5em) {
    .intro {
      padding-top: 36px; } }

.intro-inner {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 70vh; }

.intro-title {
  font-family: "code_light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3084EC; }

.intro-body {
  color: #F44336; }

.tab-list {
  display: none;
  overflow: hidden; }
  @media (min-width: 48em) {
    .tab-list {
      display: block; } }
  .tabs-style-a .tab-list li {
    float: left; }

.tabs-style-a .tab {
  display: block;
  position: relative;
  z-index: 1;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #000;
  transition: background 200ms ease-in-out; }
  @media (min-width: 48em) {
    .tabs-style-a .tab {
      margin: 0 5px;
      font-weight: 700; } }
  .tabs-style-a .tab:hover, .tabs-style-a .tab:focus {
    background-color: #009688; }
  .tabs-style-a .tab.active {
    background-color: #3084EC; }

.tab-panel-container {
  float: left;
  width: 100%; }
  @media (min-width: 48em) {
    .tabs-style-a .tab-panel-container {
      background-color: #3084EC;
      padding: 20px; } }

.tabs-style-a .tab-panel {
  float: left;
  width: 100%;
  margin-bottom: 1px; }

@media (min-width: 48em) {
  .tabs-style-a .tab-panel {
    margin: 0; }
  .js .tab-panel {
    display: none; }
  .tab-panel.active {
    display: block; } }

.tab-panel-title {
  margin: 0; }

.tab-panel-body {
  display: none; }
  .tabs-style-a .tab-panel-body {
    float: left;
    width: 100%;
    background-color: #3084EC;
    color: #fff;
    padding: 10px;
    font-weight: 500;
    font-size: 1.125rem; }
  @media (min-width: 48em) {
    .tab-panel-body {
      display: block; } }
  .active .tab-panel-body {
    display: block; }

.accordion {
  float: left;
  width: 100%; }
  .accordion.accordion-style-a {
    width: 50%;
    clear: left;
    margin-bottom: 12px;
    background: #fff;
    padding: 12px 20px;
    border: solid 2px #3084EC;
    border-radius: 0px 40px 40px 40px;
    overflow: hidden;
    transition: all 300ms ease; }
    .accordion.accordion-style-a.accordion-in {
      width: 100%;
      border-radius: 0px 10px 10px 10px; }

.accordion-title {
  color: #000; }

.accordion-body {
  transition: all 200ms ease;
  max-height: 0;
  opacity: 0; }
  .accordion-in .accordion-body {
    max-height: 400px;
    opacity: 1; }

.section.section-style-b {
  margin-bottom: 36px; }

.section-style-b .section-header {
  margin-bottom: 18px; }

.section-style-a .section-title {
  margin-bottom: 0; }

.section-style-b .section-title {
  margin-bottom: 0; }

.article-style-a .article-header {
  margin-bottom: 18px; }

.article-style-a .article-title {
  margin-bottom: 0; }

.hidden {
  display: none !important;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '';
    display: table; }
  .clearfix:after {
    clear: both; }

.visually-hidden, [class^="icon-"] b, [class*=" icon-"] b {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visually-hidden.focusable:active, [class^="icon-"] b.focusable:active, [class*=" icon-"] b.focusable:active, .visually-hidden.focusable:focus, [class^="icon-"] b.focusable:focus, [class*=" icon-"] b.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

@media (min-width: 48em) {
  .visually-hidden-bpd, .tab-panel-header {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
    .visually-hidden-bpd.focusable:active, .focusable.tab-panel-header:active, .visually-hidden-bpd.focusable:focus, .focusable.tab-panel-header:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; } }

.no-transition,
.no-transition * {
  transition: none !important; }

.csstransforms .vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.csstransforms .horizontally-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.csstransforms .totally-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.margin-left-1 {
  margin-left: 3.33333%; }

.margin-left-2 {
  margin-left: 6.66667%; }

.margin-left-3 {
  margin-left: 10%; }

.margin-left-4 {
  margin-left: 13.33333%; }

.margin-left-5 {
  margin-left: 16.66667%; }

.margin-left-6 {
  margin-left: 20%; }

.margin-left-7 {
  margin-left: 23.33333%; }

.margin-left-8 {
  margin-left: 26.66667%; }

.margin-left-9 {
  margin-left: 30%; }

.margin-left-10 {
  margin-left: 33.33333%; }

.margin-left-11 {
  margin-left: 36.66667%; }

.margin-left-12 {
  margin-left: 40%; }

.margin-left-13 {
  margin-left: 43.33333%; }

.margin-left-14 {
  margin-left: 46.66667%; }

.margin-left-15 {
  margin-left: 50%; }

.margin-left-16 {
  margin-left: 53.33333%; }

.margin-left-17 {
  margin-left: 56.66667%; }

.margin-left-18 {
  margin-left: 60%; }

.margin-left-19 {
  margin-left: 63.33333%; }

.margin-left-20 {
  margin-left: 66.66667%; }

.margin-left-21 {
  margin-left: 70%; }

.margin-left-22 {
  margin-left: 73.33333%; }

.margin-left-23 {
  margin-left: 76.66667%; }

.margin-right-1 {
  margin-right: 3.33333%; }

.margin-right-2 {
  margin-right: 6.66667%; }

.margin-right-3 {
  margin-right: 10%; }

.margin-right-4 {
  margin-right: 13.33333%; }

.margin-right-5 {
  margin-right: 16.66667%; }

.margin-right-6 {
  margin-right: 20%; }

.margin-right-7 {
  margin-right: 23.33333%; }

.margin-right-8 {
  margin-right: 26.66667%; }

.margin-right-9 {
  margin-right: 30%; }

.margin-right-10 {
  margin-right: 33.33333%; }

.margin-right-11 {
  margin-right: 36.66667%; }

.margin-right-12 {
  margin-right: 40%; }

.margin-right-13 {
  margin-right: 43.33333%; }

.margin-right-14 {
  margin-right: 46.66667%; }

.margin-right-15 {
  margin-right: 50%; }

.margin-right-16 {
  margin-right: 53.33333%; }

.margin-right-17 {
  margin-right: 56.66667%; }

.margin-right-18 {
  margin-right: 60%; }

.margin-right-19 {
  margin-right: 63.33333%; }

.margin-right-20 {
  margin-right: 66.66667%; }

.margin-right-21 {
  margin-right: 70%; }

.margin-right-22 {
  margin-right: 73.33333%; }

.margin-right-23 {
  margin-right: 76.66667%; }

.padding-left-1 {
  padding-left: 3.33333%; }

.padding-left-2 {
  padding-left: 6.66667%; }

.padding-left-3 {
  padding-left: 10%; }

.padding-left-4 {
  padding-left: 13.33333%; }

.padding-left-5 {
  padding-left: 16.66667%; }

.padding-left-6 {
  padding-left: 20%; }

.padding-left-7 {
  padding-left: 23.33333%; }

.padding-left-8 {
  padding-left: 26.66667%; }

.padding-left-9 {
  padding-left: 30%; }

.padding-left-10 {
  padding-left: 33.33333%; }

.padding-left-11 {
  padding-left: 36.66667%; }

.padding-left-12 {
  padding-left: 40%; }

.padding-left-13 {
  padding-left: 43.33333%; }

.padding-left-14 {
  padding-left: 46.66667%; }

.padding-left-15 {
  padding-left: 50%; }

.padding-left-16 {
  padding-left: 53.33333%; }

.padding-left-17 {
  padding-left: 56.66667%; }

.padding-left-18 {
  padding-left: 60%; }

.padding-left-19 {
  padding-left: 63.33333%; }

.padding-left-20 {
  padding-left: 66.66667%; }

.padding-left-21 {
  padding-left: 70%; }

.padding-left-22 {
  padding-left: 73.33333%; }

.padding-left-23 {
  padding-left: 76.66667%; }

.padding-right-1 {
  padding-right: 3.33333%; }

.padding-right-2 {
  padding-right: 6.66667%; }

.padding-right-3 {
  padding-right: 10%; }

.padding-right-4 {
  padding-right: 13.33333%; }

.padding-right-5 {
  padding-right: 16.66667%; }

.padding-right-6 {
  padding-right: 20%; }

.padding-right-7 {
  padding-right: 23.33333%; }

.padding-right-8 {
  padding-right: 26.66667%; }

.padding-right-9 {
  padding-right: 30%; }

.padding-right-10 {
  padding-right: 33.33333%; }

.padding-right-11 {
  padding-right: 36.66667%; }

.padding-right-12 {
  padding-right: 40%; }

.padding-right-13 {
  padding-right: 43.33333%; }

.padding-right-14 {
  padding-right: 46.66667%; }

.padding-right-15 {
  padding-right: 50%; }

.padding-right-16 {
  padding-right: 53.33333%; }

.padding-right-17 {
  padding-right: 56.66667%; }

.padding-right-18 {
  padding-right: 60%; }

.padding-right-19 {
  padding-right: 63.33333%; }

.padding-right-20 {
  padding-right: 66.66667%; }

.padding-right-21 {
  padding-right: 70%; }

.padding-right-22 {
  padding-right: 73.33333%; }

.padding-right-23 {
  padding-right: 76.66667%; }

.visible-smallscreen,
.visible-mediumscreen,
.visible-largescreen {
  display: none; }

.visible-smallscreen {
  display: block; }

@media (min-width: 48em) {
  .visible-mediumscreen {
    display: block; } }

@media (min-width: 61.25em) {
  .visible-largescreen {
    display: block; } }

@media (min-width: 48em) {
  .hidden-mediumscreen {
    display: none; } }

@media (min-width: 61.25em) {
  .hidden-largescreen {
    display: none; } }
