// menu

.menu {
  position: fixed;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-101%);
  transition: transform 300ms ease-in-out;
  z-index: 9;
  overflow: auto;

  &.menu--in {
    transform: none;
  }
}

.menu__close-btn {
  color: $brand-black;
}