sub,
sup {
    line-height: 0
}

*,
pre {
    word-wrap: break-word
}

.icon,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.btn,
a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none
}

.article,
.footer,
.header,
.page,
.row .col {
    float: left
}

.clearfix:after,
.row:after {
    clear: both
}

.invisible {
    visibility: hidden
}

.clearfix {
    zoom: 1
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: .0625rem;
    margin: -.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: .0625rem
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.checkbox,
.content,
.link--style-a,
.primary-navigation li a,
.radio,
.select-replace,
.select-replace select,
body,
sub,
sup {
    position: relative
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

[hidden],
audio:not([controls]) {
    display: none
}

body,
button,
input,
select,
textarea {
    font-family: sans-serif
}

a {
    color: #00e
}

a:visited {
    color: #551a8b
}

a:focus {
    outline: dotted thin
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: .0625rem dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

.btn,
body {
    font-family: sans-serif
}

small,
sub,
sup {
    font-size: 75%
}

pre {
    white-space: pre;
    white-space: pre-wrap
}

q {
    quotes: none
}

q:after,
q:before {
    content: '';
    content: none
}

blockquote {
    margin: 1em 2.5rem
}

sub {
    vertical-align: baseline;
    bottom: -.25em
}

sup {
    vertical-align: baseline;
    top: -.5em
}

ol,
ul {
    margin: 0;
    padding: 0 0 0 2.5rem
}

dd {
    margin: 0 0 0 2.5rem
}

nav ol,
nav ul {
    list-style: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: top;
    max-width: 100%
}

svg:not(:root) {
    overflow: hidden
}

figure,
form {
    margin: 0
}

fieldset {
    margin: 0 .125rem;
    padding: .35em .625em .75em
}

legend {
    border: 0
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

.btn,
textarea {
    vertical-align: top
}

button,
input {
    line-height: normal
}

button,
html input[type=button],
html input[type=reset],
html input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

*,
.row .col {
    box-sizing: border-box
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

table {
    border-spacing: 0
}

* {
    -webkit-tap-highlight-color: transparent
}

:focus {
    outline: 0
}

:-moz-placeholder {
    color: #999
}

::-moz-placeholder {
    color: #999
}

:-ms-input-placeholder {
    color: #999
}

::-webkit-input-placeholder {
    color: #999
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    background: #fafafa;
    color: #222;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    height: 100%
}

@media screen and (max-device-width:480px) {
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%
    }
}

body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5rem
}

.btn,
.btn--large,
.btn--small {
    line-height: 1.25rem
}

p a:hover {
    text-decoration: underline
}

.page {
    width: 100%
}

@media only screen and (min-width:48.0625em) {
    .page {
        min-height: calc(100vh - 10.375rem)
    }
}

.content {
    z-index: 1
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.btn {
    background: #CCC;
    border: .125rem solid #CCC;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 0;
    min-height: 2rem;
    padding: .375rem .9375rem;
    text-align: center;
    text-transform: uppercase;
    transition: background 250ms, border-color 250ms;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased
}

@media only screen and (min-width:48.0625em) {
    .btn {
        font-size: 1rem;
        line-height: 1.25rem;
        min-height: 2.75rem;
        padding: .75rem 1.25rem
    }
    .btn--small {
        font-size: .75rem;
        line-height: 1.25rem;
        min-height: 2rem;
        padding: .375rem .9375rem
    }
}

.btn:focus,
.btn:hover {
    background: #b3b3b3;
    border-color: #b3b3b3;
    box-shadow: none
}

.btn.active,
.btn:active {
    box-shadow: none;
    outline: 0
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: .65;
    box-shadow: none;
    cursor: default;
    pointer-events: none
}

.btn--small {
    font-size: .75rem;
    min-height: 2rem;
    padding: .375rem .9375rem
}

.btn--large {
    font-size: 1rem;
    min-height: 2.75rem;
    padding: .75rem 1.25rem
}

@media only screen and (min-width:48.0625em) {
    .btn--large {
        font-size: 1.125rem;
        line-height: 2.375rem;
        min-height: 3.875rem;
        padding: .75rem 1.875rem
    }
}

.btn--style-a {
    background-color: #3084EC;
    border-color: #3084EC;
    color: #FFF
}

.btn--style-a:focus,
.btn--style-a:hover {
    background: #146ad5;
    border-color: #146ad5
}

.btn--style-b {
    background-color: #009688;
    border-color: #009688;
    color: #FFF
}

.btn--style-b:focus,
.btn--style-b:hover {
    background: #00635a;
    border-color: #00635a
}

.btn--style-c {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #FFF
}

.btn--style-c:focus,
.btn--style-c:hover {
    background: #3d8b40;
    border-color: #3d8b40
}

.btn--style-d {
    background-color: #F44336;
    border-color: #F44336;
    color: #FFF
}

.btn--style-d:focus,
.btn--style-d:hover {
    background: #f77066;
    border-color: #f77066
}

.btn--no-style {
    min-height: 0;
    padding: 0;
    background: 0 0;
    border: none;
    min-width: 0
}

@media only screen and (min-width:48.0625em) {
    .btn--no-style {
        min-width: 0;
        min-height: 0;
        padding: 0;
        background: 0 0;
        border: none
    }
}

.btn--no-style:focus,
.btn--no-style:hover {
    color: inherit;
    box-shadow: none;
    padding: 0;
    background: 0 0;
    border: none
}

.link--style-a,
.primary-navigation li a {
    transition: color 250ms ease
}

.link--style-a:after,
.primary-navigation li a:after {
    transition: width .3s, color 250ms ease;
    content: '';
    display: block;
    height: .0625rem;
    background: #3084EC;
    width: 0;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@font-face {
    font-family: code_bold;
    src: url(fonts/code_bold-webfont.woff);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: code_light;
    src: url(fonts/code_light-webfont.woff);
    font-weight: 400;
    font-style: normal
}

textarea {
    resize: none;
    height: 11.25rem;
    white-space: normal;
    overflow: auto;
    padding: .375rem .625rem
}

button,
input[type=submit],
label {
    cursor: pointer
}

input[type=search] {
    -webkit-appearance: none
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none
}

input[type=search],
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=date],
input[type=week],
input[type=month],
input[type=datetime],
input[type=datetime-local],
input[type=time],
input[type=number],
input[type=password],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

label input,
label select,
label textarea {
    display: block
}

@media only screen and (min-width:48.0625em) {
    .link--style-a:focus,
    .link--style-a:hover,
    .primary-navigation li a:focus,
    .primary-navigation li a:hover {
        color: #3084EC
    }
    .link--style-a:focus:after,
    .link--style-a:hover:after,
    .primary-navigation li a:focus:after,
    .primary-navigation li a:hover:after {
        width: 80%
    }
    textarea {
        padding: .75rem .9375rem;
        height: 11.25rem
    }
}

.select-replace {
    display: block;
    padding: 0
}

.select-replace select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: 0;
    box-shadow: none;
    text-indent: .00063rem;
    text-overflow: '';
    z-index: 2
}

input[type=radio],
input[type=checkbox] {
    height: auto;
    width: auto;
    background: 0 0;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0
}

.lt-ie9 input[type=radio],
.lt-ie9 input[type=checkbox] {
    display: inline
}

.checkbox,
.radio {
    font-size: .75rem;
    display: block;
    line-height: 1.125rem;
    margin-bottom: .375rem;
    padding-top: .75rem;
    padding-left: 1.5625rem
}

@media only screen and (min-width:61.3125em) {
    .checkbox,
    .radio {
        font-size: 1rem;
        line-height: 1.875rem;
        padding-top: .375rem
    }
}

@media only screen and (min-width:48.0625em) {
    .checkbox:first-child,
    .radio:first-child {
        margin-top: .375rem
    }
}

.checkbox.disabled,
.radio.disabled {
    color: #CCC
}

.checkbox.checklist-item,
.radio.checklist-item {
    margin-top: 0
}

.checkbox .checkbox-replace,
.checkbox .radio-replace,
.radio .checkbox-replace,
.radio .radio-replace {
    position: absolute;
    top: .4375rem;
    left: 0
}

.checkbox.radio--style-a,
.checkbox.radio--style-b,
.radio.radio--style-a,
.radio.radio--style-b {
    background-color: #EBEBEB;
    font-size: .875rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding: .75rem .3125rem .75rem 2.1875rem;
    width: 100%
}

.no-js .checkbox.radio--style-a,
.no-js .checkbox.radio--style-b,
.no-js .radio.radio--style-a,
.no-js .radio.radio--style-b {
    padding: .75rem
}

.checkbox.radio--style-a .radio-replace,
.checkbox.radio--style-b .radio-replace,
.radio.radio--style-a .radio-replace,
.radio.radio--style-b .radio-replace {
    background-color: transparent;
    border-color: #3084EC;
    left: .625rem;
    top: .75rem
}

.checkbox.radio--style-a.checked,
.checkbox.radio--style-b.checked,
.radio.radio--style-a.checked,
.radio.radio--style-b.checked {
    background-color: #FFF;
    box-shadow: inset 0 .125rem .1875rem 0 rgba(0, 0, 0, .3)
}

.no-js .checkbox,
.no-js .radio {
    padding-left: 0
}

.no-js .checkbox input,
.no-js .radio input {
    box-shadow: none;
    padding: 0;
    display: inline-block;
    width: auto
}

.checkbox-replace-input,
.radio-replace-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: .0625rem;
    margin: -.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: .0625rem
}

.checkbox-replace-input.focusable:active,
.checkbox-replace-input.focusable:focus,
.radio-replace-input.focusable:active,
.radio-replace-input.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.checkbox-replace,
.radio-replace {
    height: 1.5rem;
    width: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: .125rem solid #3084EC;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: relative;
    outline: 0;
    transition: none;
    vertical-align: top
}

.checkbox-replace::-moz-focus-inner,
.radio-replace::-moz-focus-inner {
    border: 0;
    padding: 0
}

.checkbox-replace:hover,
.radio-replace:hover,
input:active+.checkbox-replace,
input:active+.radio-replace,
input:focus+.checkbox-replace,
input:focus+.radio-replace {
    border-color: #009688
}

input[disabled]+.checkbox-replace,
input[disabled]+.radio-replace {
    background: #F0F0F0;
    border-color: #909090;
    color: #909090;
    cursor: not-allowed
}

input[disabled]+.checkbox-replace:focus,
input[disabled]+.checkbox-replace:hover,
input[disabled]+.radio-replace:focus,
input[disabled]+.radio-replace:hover {
    border-color: #909090
}

.checkbox-replace {
    border-radius: .125rem
}

.checkbox-replace:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 1rem;
    content: "\2714";
    display: none
}

input:checked+.checkbox-replace {
    color: #fff;
    background: #009688;
    border-color: #009688
}

input:checked+.checkbox-replace:after {
    display: block
}

.radio-replace {
    border-radius: 100%
}

.radio-replace:after {
    content: '';
    position: absolute;
    top: .4375rem;
    left: .4375rem;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: all .1s
}

input:checked+.radio-replace:after {
    width: .75rem;
    height: .75rem;
    top: .125rem;
    left: .125rem
}

.row .col.s1,
.row .col.s10,
.row .col.s11,
.row .col.s13,
.row .col.s14,
.row .col.s15,
.row .col.s16,
.row .col.s17,
.row .col.s18,
.row .col.s19,
.row .col.s2,
.row .col.s20,
.row .col.s21,
.row .col.s22,
.row .col.s23,
.row .col.s24,
.row .col.s3,
.row .col.s4,
.row .col.s5,
.row .col.s6,
.row .col.s7,
.row .col.s8,
.row .col.s9 {
    left: auto;
    right: auto
}

@media only screen and (min-width:48.0625em) {
    .input--mini {
        width: 6.25rem
    }
    .input--small {
        width: 9.375rem
    }
    .input--medium {
        width: 12.5rem
    }
    .input--large {
        width: 15.625rem
    }
    .input--xlarge {
        width: 18.75rem
    }
    .input--xxlarge {
        width: 21.875rem
    }
    .input--xxxlarge {
        width: 25rem
    }
    .input--xxxxlarge {
        width: 28.125rem;
        max-width: 90%
    }
}

.input--full {
    width: 100%
}

.input--full input {
    overflow: visible
}

input[type=file] {
    width: auto;
    padding: initial;
    line-height: initial;
    background-color: initial;
    border: initial;
    box-shadow: none;
    cursor: pointer
}

.icon b,
ul {
    padding: 0
}

.form-actions {
    margin-top: .75rem
}

.form-actions .btn {
    margin-bottom: .375rem
}

@font-face {
    font-family: icons;
    src: url(fonts/icons.woff?-gfwsty) format("woff");
    font-weight: 400;
    font-style: normal
}

.icon {
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-transform: none
}

.icon b {
    border: 0;
    clip: rect(0 0 0 0);
    height: .0625rem;
    margin: -.0625rem;
    overflow: hidden;
    position: absolute;
    width: .0625rem
}

.icon b.focusable:active,
.icon b.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.icon--close:before {
    content: "\e904"
}

.icon--menu:before {
    content: "\e905"
}

.icon--email:before {
    content: "\e900"
}

.icon--linkedin:before {
    content: "\e901"
}

.icon--twitter:before {
    content: "\e902"
}

.icon--github:before {
    content: "\e903"
}

.list--style-a,
.list-unstyled,
.list-unstyled--full,
.list-unstyled--full ol,
.list-unstyled--full ul,
.primary-navigation ul,
.utility-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.list--style-a li {
    border-bottom: dotted .125rem #222;
    padding-left: 1.5rem;
    margin-bottom: .75rem
}

.alpha,
.article--style-a .article__subtitle,
.article--style-a .article__title,
.beta,
.delta,
.gamma,
.giga,
.intro__title,
.mega,
.section--style-a .section__title,
.section--style-b .section__title,
.title--style-a,
.title--style-b,
.title--style-c,
.title--style-d,
.title--style-e,
.title--style-f,
.titles,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: code_bold, "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0
}

.giga,
.intro__title,
.title--style-a,
h1 {
    margin-bottom: .75rem;
    font-size: 2.5rem;
    line-height: 3.125rem
}

@media only screen and (min-width:37.5625em) {
    .giga,
    .intro__title,
    .title--style-a,
    h1 {
        font-size: 3.125rem;
        line-height: 3.75rem
    }
}

.mega,
.section--style-a .section__title,
.title--style-b,
h2 {
    font-size: 2.5rem;
    line-height: 1.875rem;
    margin-bottom: .75rem
}

.alpha,
.article--style-a .article__title,
.title--style-c,
h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: .375rem
}

.beta,
.section--style-b .section__title,
.title--style-d,
h4 {
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin-bottom: .75rem
}

.article--style-a .article__subtitle,
.gamma,
.title--style-e,
h5 {
    font-size: 1rem;
    line-height: 1.125rem;
    margin-bottom: .75rem
}

p {
    margin-bottom: .75rem
}

.header-stylesheet {
    border-bottom: .0625rem solid #CCC;
    color: #bbb;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 2.25rem;
    padding-bottom: .75rem;
    text-align: left
}

.header-stylesheet:first-child {
    padding-top: 0
}

.container {
    margin: 0 1.5rem
}

.row,
.row .col.s1,
.row .col.s10,
.row .col.s11,
.row .col.s13,
.row .col.s14,
.row .col.s15,
.row .col.s16,
.row .col.s17,
.row .col.s18,
.row .col.s19,
.row .col.s2,
.row .col.s20,
.row .col.s21,
.row .col.s22,
.row .col.s23,
.row .col.s24,
.row .col.s3,
.row .col.s4,
.row .col.s5,
.row .col.s6,
.row .col.s7,
.row .col.s8,
.row .col.s9 {
    margin-left: auto
}

.row {
    margin-right: auto
}

.row:after {
    content: "";
    display: table
}

.row .col {
    padding: 0 .75rem
}

.row .col[class*=push-],
.row .col[class*=pull-] {
    position: relative
}

@media only screen and (max-width:48em) {
    .row .col {
        width: 100%
    }
}

.row .col.s1 {
    width: 4.16667%
}

.row .col.s2 {
    width: 8.33333%
}

.row .col.s3 {
    width: 12.5%
}

.row .col.s4 {
    width: 16.66667%
}

.row .col.s5 {
    width: 20.83333%
}

.row .col.s6 {
    width: 25%
}

.row .col.s7 {
    width: 29.16667%
}

.row .col.s8 {
    width: 33.33333%
}

.row .col.s9 {
    width: 37.5%
}

.row .col.s10 {
    width: 41.66667%
}

.row .col.s11 {
    width: 45.83333%
}

.row .col.s12 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s13 {
    width: 54.16667%
}

.row .col.s14 {
    width: 58.33333%
}

.row .col.s15 {
    width: 62.5%
}

.row .col.s16 {
    width: 66.66667%
}

.row .col.s17 {
    width: 70.83333%
}

.row .col.s18 {
    width: 75%
}

.row .col.s19 {
    width: 79.16667%
}

.row .col.s20 {
    width: 83.33333%
}

.row .col.s21 {
    width: 87.5%
}

.row .col.s22 {
    width: 91.66667%
}

.row .col.s23 {
    width: 95.83333%
}

.row .col.s24 {
    width: 100%
}

.row .col.offset-s1 {
    margin-left: 4.16667%
}

.row .col.pull-s1 {
    right: 4.16667%
}

.row .col.push-s1 {
    left: 4.16667%
}

.row .col.offset-s2 {
    margin-left: 8.33333%
}

.row .col.pull-s2 {
    right: 8.33333%
}

.row .col.push-s2 {
    left: 8.33333%
}

.row .col.offset-s3 {
    margin-left: 12.5%
}

.row .col.pull-s3 {
    right: 12.5%
}

.row .col.push-s3 {
    left: 12.5%
}

.row .col.offset-s4 {
    margin-left: 16.66667%
}

.row .col.pull-s4 {
    right: 16.66667%
}

.row .col.push-s4 {
    left: 16.66667%
}

.row .col.offset-s5 {
    margin-left: 20.83333%
}

.row .col.pull-s5 {
    right: 20.83333%
}

.row .col.push-s5 {
    left: 20.83333%
}

.row .col.offset-s6 {
    margin-left: 25%
}

.row .col.pull-s6 {
    right: 25%
}

.row .col.push-s6 {
    left: 25%
}

.row .col.offset-s7 {
    margin-left: 29.16667%
}

.row .col.pull-s7 {
    right: 29.16667%
}

.row .col.push-s7 {
    left: 29.16667%
}

.row .col.offset-s8 {
    margin-left: 33.33333%
}

.row .col.pull-s8 {
    right: 33.33333%
}

.row .col.push-s8 {
    left: 33.33333%
}

.row .col.offset-s9 {
    margin-left: 37.5%
}

.row .col.pull-s9 {
    right: 37.5%
}

.row .col.push-s9 {
    left: 37.5%
}

.row .col.offset-s10 {
    margin-left: 41.66667%
}

.row .col.pull-s10 {
    right: 41.66667%
}

.row .col.push-s10 {
    left: 41.66667%
}

.row .col.offset-s11 {
    margin-left: 45.83333%
}

.row .col.pull-s11 {
    right: 45.83333%
}

.row .col.push-s11 {
    left: 45.83333%
}

.row .col.offset-s12 {
    margin-left: 50%
}

.row .col.pull-s12 {
    right: 50%
}

.row .col.push-s12 {
    left: 50%
}

.row .col.offset-s13 {
    margin-left: 54.16667%
}

.row .col.pull-s13 {
    right: 54.16667%
}

.row .col.push-s13 {
    left: 54.16667%
}

.row .col.offset-s14 {
    margin-left: 58.33333%
}

.row .col.pull-s14 {
    right: 58.33333%
}

.row .col.push-s14 {
    left: 58.33333%
}

.row .col.offset-s15 {
    margin-left: 62.5%
}

.row .col.pull-s15 {
    right: 62.5%
}

.row .col.push-s15 {
    left: 62.5%
}

.row .col.offset-s16 {
    margin-left: 66.66667%
}

.row .col.pull-s16 {
    right: 66.66667%
}

.row .col.push-s16 {
    left: 66.66667%
}

.row .col.offset-s17 {
    margin-left: 70.83333%
}

.row .col.pull-s17 {
    right: 70.83333%
}

.row .col.push-s17 {
    left: 70.83333%
}

.row .col.offset-s18 {
    margin-left: 75%
}

.row .col.pull-s18 {
    right: 75%
}

.row .col.push-s18 {
    left: 75%
}

.row .col.offset-s19 {
    margin-left: 79.16667%
}

.row .col.pull-s19 {
    right: 79.16667%
}

.row .col.push-s19 {
    left: 79.16667%
}

.row .col.offset-s20 {
    margin-left: 83.33333%
}

.row .col.pull-s20 {
    right: 83.33333%
}

.row .col.push-s20 {
    left: 83.33333%
}

.row .col.offset-s21 {
    margin-left: 87.5%
}

.row .col.pull-s21 {
    right: 87.5%
}

.row .col.push-s21 {
    left: 87.5%
}

.row .col.offset-s22 {
    margin-left: 91.66667%
}

.row .col.pull-s22 {
    right: 91.66667%
}

.row .col.push-s22 {
    left: 91.66667%
}

.row .col.offset-s23 {
    margin-left: 95.83333%
}

.row .col.pull-s23 {
    right: 95.83333%
}

.row .col.push-s23 {
    left: 95.83333%
}

.row .col.offset-s24 {
    margin-left: 100%
}

.row .col.pull-s24 {
    right: 100%
}

.row .col.push-s24 {
    left: 100%
}

@media only screen and (min-width:48.0625em) {
    .row .col.m1,
    .row .col.m10,
    .row .col.m11,
    .row .col.m13,
    .row .col.m14,
    .row .col.m15,
    .row .col.m16,
    .row .col.m17,
    .row .col.m18,
    .row .col.m19,
    .row .col.m2,
    .row .col.m20,
    .row .col.m21,
    .row .col.m22,
    .row .col.m23,
    .row .col.m24,
    .row .col.m3,
    .row .col.m4,
    .row .col.m5,
    .row .col.m6,
    .row .col.m7,
    .row .col.m8,
    .row .col.m9 {
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m1 {
        width: 4.16667%
    }
    .row .col.m2 {
        width: 8.33333%
    }
    .row .col.m3 {
        width: 12.5%
    }
    .row .col.m4 {
        width: 16.66667%
    }
    .row .col.m5 {
        width: 20.83333%
    }
    .row .col.m6 {
        width: 25%
    }
    .row .col.m7 {
        width: 29.16667%
    }
    .row .col.m8 {
        width: 33.33333%
    }
    .row .col.m9 {
        width: 37.5%
    }
    .row .col.m10 {
        width: 41.66667%
    }
    .row .col.m11 {
        width: 45.83333%
    }
    .row .col.m12 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m13 {
        width: 54.16667%
    }
    .row .col.m14 {
        width: 58.33333%
    }
    .row .col.m15 {
        width: 62.5%
    }
    .row .col.m16 {
        width: 66.66667%
    }
    .row .col.m17 {
        width: 70.83333%
    }
    .row .col.m18 {
        width: 75%
    }
    .row .col.m19 {
        width: 79.16667%
    }
    .row .col.m20 {
        width: 83.33333%
    }
    .row .col.m21 {
        width: 87.5%
    }
    .row .col.m22 {
        width: 91.66667%
    }
    .row .col.m23 {
        width: 95.83333%
    }
    .row .col.m24 {
        width: 100%
    }
    .row .col.offset-m1 {
        margin-left: 4.16667%
    }
    .row .col.pull-m1 {
        right: 4.16667%
    }
    .row .col.push-m1 {
        left: 4.16667%
    }
    .row .col.offset-m2 {
        margin-left: 8.33333%
    }
    .row .col.pull-m2 {
        right: 8.33333%
    }
    .row .col.push-m2 {
        left: 8.33333%
    }
    .row .col.offset-m3 {
        margin-left: 12.5%
    }
    .row .col.pull-m3 {
        right: 12.5%
    }
    .row .col.push-m3 {
        left: 12.5%
    }
    .row .col.offset-m4 {
        margin-left: 16.66667%
    }
    .row .col.pull-m4 {
        right: 16.66667%
    }
    .row .col.push-m4 {
        left: 16.66667%
    }
    .row .col.offset-m5 {
        margin-left: 20.83333%
    }
    .row .col.pull-m5 {
        right: 20.83333%
    }
    .row .col.push-m5 {
        left: 20.83333%
    }
    .row .col.offset-m6 {
        margin-left: 25%
    }
    .row .col.pull-m6 {
        right: 25%
    }
    .row .col.push-m6 {
        left: 25%
    }
    .row .col.offset-m7 {
        margin-left: 29.16667%
    }
    .row .col.pull-m7 {
        right: 29.16667%
    }
    .row .col.push-m7 {
        left: 29.16667%
    }
    .row .col.offset-m8 {
        margin-left: 33.33333%
    }
    .row .col.pull-m8 {
        right: 33.33333%
    }
    .row .col.push-m8 {
        left: 33.33333%
    }
    .row .col.offset-m9 {
        margin-left: 37.5%
    }
    .row .col.pull-m9 {
        right: 37.5%
    }
    .row .col.push-m9 {
        left: 37.5%
    }
    .row .col.offset-m10 {
        margin-left: 41.66667%
    }
    .row .col.pull-m10 {
        right: 41.66667%
    }
    .row .col.push-m10 {
        left: 41.66667%
    }
    .row .col.offset-m11 {
        margin-left: 45.83333%
    }
    .row .col.pull-m11 {
        right: 45.83333%
    }
    .row .col.push-m11 {
        left: 45.83333%
    }
    .row .col.offset-m12 {
        margin-left: 50%
    }
    .row .col.pull-m12 {
        right: 50%
    }
    .row .col.push-m12 {
        left: 50%
    }
    .row .col.offset-m13 {
        margin-left: 54.16667%
    }
    .row .col.pull-m13 {
        right: 54.16667%
    }
    .row .col.push-m13 {
        left: 54.16667%
    }
    .row .col.offset-m14 {
        margin-left: 58.33333%
    }
    .row .col.pull-m14 {
        right: 58.33333%
    }
    .row .col.push-m14 {
        left: 58.33333%
    }
    .row .col.offset-m15 {
        margin-left: 62.5%
    }
    .row .col.pull-m15 {
        right: 62.5%
    }
    .row .col.push-m15 {
        left: 62.5%
    }
    .row .col.offset-m16 {
        margin-left: 66.66667%
    }
    .row .col.pull-m16 {
        right: 66.66667%
    }
    .row .col.push-m16 {
        left: 66.66667%
    }
    .row .col.offset-m17 {
        margin-left: 70.83333%
    }
    .row .col.pull-m17 {
        right: 70.83333%
    }
    .row .col.push-m17 {
        left: 70.83333%
    }
    .row .col.offset-m18 {
        margin-left: 75%
    }
    .row .col.pull-m18 {
        right: 75%
    }
    .row .col.push-m18 {
        left: 75%
    }
    .row .col.offset-m19 {
        margin-left: 79.16667%
    }
    .row .col.pull-m19 {
        right: 79.16667%
    }
    .row .col.push-m19 {
        left: 79.16667%
    }
    .row .col.offset-m20 {
        margin-left: 83.33333%
    }
    .row .col.pull-m20 {
        right: 83.33333%
    }
    .row .col.push-m20 {
        left: 83.33333%
    }
    .row .col.offset-m21 {
        margin-left: 87.5%
    }
    .row .col.pull-m21 {
        right: 87.5%
    }
    .row .col.push-m21 {
        left: 87.5%
    }
    .row .col.offset-m22 {
        margin-left: 91.66667%
    }
    .row .col.pull-m22 {
        right: 91.66667%
    }
    .row .col.push-m22 {
        left: 91.66667%
    }
    .row .col.offset-m23 {
        margin-left: 95.83333%
    }
    .row .col.pull-m23 {
        right: 95.83333%
    }
    .row .col.push-m23 {
        left: 95.83333%
    }
    .row .col.offset-m24 {
        margin-left: 100%
    }
    .row .col.pull-m24 {
        right: 100%
    }
    .row .col.push-m24 {
        left: 100%
    }
}

@media only screen and (min-width:75.0625em) {
    .row .col.l1,
    .row .col.l10,
    .row .col.l11,
    .row .col.l13,
    .row .col.l14,
    .row .col.l15,
    .row .col.l16,
    .row .col.l17,
    .row .col.l18,
    .row .col.l19,
    .row .col.l2,
    .row .col.l20,
    .row .col.l21,
    .row .col.l22,
    .row .col.l23,
    .row .col.l24,
    .row .col.l3,
    .row .col.l4,
    .row .col.l5,
    .row .col.l6,
    .row .col.l7,
    .row .col.l8,
    .row .col.l9 {
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l1 {
        width: 4.16667%
    }
    .row .col.l2 {
        width: 8.33333%
    }
    .row .col.l3 {
        width: 12.5%
    }
    .row .col.l4 {
        width: 16.66667%
    }
    .row .col.l5 {
        width: 20.83333%
    }
    .row .col.l6 {
        width: 25%
    }
    .row .col.l7 {
        width: 29.16667%
    }
    .row .col.l8 {
        width: 33.33333%
    }
    .row .col.l9 {
        width: 37.5%
    }
    .row .col.l10 {
        width: 41.66667%
    }
    .row .col.l11 {
        width: 45.83333%
    }
    .row .col.l12 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l13 {
        width: 54.16667%
    }
    .row .col.l14 {
        width: 58.33333%
    }
    .row .col.l15 {
        width: 62.5%
    }
    .row .col.l16 {
        width: 66.66667%
    }
    .row .col.l17 {
        width: 70.83333%
    }
    .row .col.l18 {
        width: 75%
    }
    .row .col.l19 {
        width: 79.16667%
    }
    .row .col.l20 {
        width: 83.33333%
    }
    .row .col.l21 {
        width: 87.5%
    }
    .row .col.l22 {
        width: 91.66667%
    }
    .row .col.l23 {
        width: 95.83333%
    }
    .row .col.l24 {
        width: 100%
    }
    .row .col.offset-l1 {
        margin-left: 4.16667%
    }
    .row .col.pull-l1 {
        right: 4.16667%
    }
    .row .col.push-l1 {
        left: 4.16667%
    }
    .row .col.offset-l2 {
        margin-left: 8.33333%
    }
    .row .col.pull-l2 {
        right: 8.33333%
    }
    .row .col.push-l2 {
        left: 8.33333%
    }
    .row .col.offset-l3 {
        margin-left: 12.5%
    }
    .row .col.pull-l3 {
        right: 12.5%
    }
    .row .col.push-l3 {
        left: 12.5%
    }
    .row .col.offset-l4 {
        margin-left: 16.66667%
    }
    .row .col.pull-l4 {
        right: 16.66667%
    }
    .row .col.push-l4 {
        left: 16.66667%
    }
    .row .col.offset-l5 {
        margin-left: 20.83333%
    }
    .row .col.pull-l5 {
        right: 20.83333%
    }
    .row .col.push-l5 {
        left: 20.83333%
    }
    .row .col.offset-l6 {
        margin-left: 25%
    }
    .row .col.pull-l6 {
        right: 25%
    }
    .row .col.push-l6 {
        left: 25%
    }
    .row .col.offset-l7 {
        margin-left: 29.16667%
    }
    .row .col.pull-l7 {
        right: 29.16667%
    }
    .row .col.push-l7 {
        left: 29.16667%
    }
    .row .col.offset-l8 {
        margin-left: 33.33333%
    }
    .row .col.pull-l8 {
        right: 33.33333%
    }
    .row .col.push-l8 {
        left: 33.33333%
    }
    .row .col.offset-l9 {
        margin-left: 37.5%
    }
    .row .col.pull-l9 {
        right: 37.5%
    }
    .row .col.push-l9 {
        left: 37.5%
    }
    .row .col.offset-l10 {
        margin-left: 41.66667%
    }
    .row .col.pull-l10 {
        right: 41.66667%
    }
    .row .col.push-l10 {
        left: 41.66667%
    }
    .row .col.offset-l11 {
        margin-left: 45.83333%
    }
    .row .col.pull-l11 {
        right: 45.83333%
    }
    .row .col.push-l11 {
        left: 45.83333%
    }
    .row .col.offset-l12 {
        margin-left: 50%
    }
    .row .col.pull-l12 {
        right: 50%
    }
    .row .col.push-l12 {
        left: 50%
    }
    .row .col.offset-l13 {
        margin-left: 54.16667%
    }
    .row .col.pull-l13 {
        right: 54.16667%
    }
    .row .col.push-l13 {
        left: 54.16667%
    }
    .row .col.offset-l14 {
        margin-left: 58.33333%
    }
    .row .col.pull-l14 {
        right: 58.33333%
    }
    .row .col.push-l14 {
        left: 58.33333%
    }
    .row .col.offset-l15 {
        margin-left: 62.5%
    }
    .row .col.pull-l15 {
        right: 62.5%
    }
    .row .col.push-l15 {
        left: 62.5%
    }
    .row .col.offset-l16 {
        margin-left: 66.66667%
    }
    .row .col.pull-l16 {
        right: 66.66667%
    }
    .row .col.push-l16 {
        left: 66.66667%
    }
    .row .col.offset-l17 {
        margin-left: 70.83333%
    }
    .row .col.pull-l17 {
        right: 70.83333%
    }
    .row .col.push-l17 {
        left: 70.83333%
    }
    .row .col.offset-l18 {
        margin-left: 75%
    }
    .row .col.pull-l18 {
        right: 75%
    }
    .row .col.push-l18 {
        left: 75%
    }
    .row .col.offset-l19 {
        margin-left: 79.16667%
    }
    .row .col.pull-l19 {
        right: 79.16667%
    }
    .row .col.push-l19 {
        left: 79.16667%
    }
    .row .col.offset-l20 {
        margin-left: 83.33333%
    }
    .row .col.pull-l20 {
        right: 83.33333%
    }
    .row .col.push-l20 {
        left: 83.33333%
    }
    .row .col.offset-l21 {
        margin-left: 87.5%
    }
    .row .col.pull-l21 {
        right: 87.5%
    }
    .row .col.push-l21 {
        left: 87.5%
    }
    .row .col.offset-l22 {
        margin-left: 91.66667%
    }
    .row .col.pull-l22 {
        right: 91.66667%
    }
    .row .col.push-l22 {
        left: 91.66667%
    }
    .row .col.offset-l23 {
        margin-left: 95.83333%
    }
    .row .col.pull-l23 {
        right: 95.83333%
    }
    .row .col.push-l23 {
        left: 95.83333%
    }
    .row .col.offset-l24 {
        margin-left: 100%
    }
    .row .col.pull-l24 {
        right: 100%
    }
    .row .col.push-l24 {
        left: 100%
    }
}

.grid-example {
    padding: 1.125rem 1.5rem;
    text-align: center;
    background-color: #3084EC;
    color: #fafafa;
    margin-bottom: .75rem
}

.article {
    width: 100%
}

.article.article--style-a {
    margin-bottom: 1.5rem
}

.article--style-a .article__header {
    margin-bottom: .375rem
}

.article--style-a .article__title {
    margin-bottom: 0
}

.article--style-a .article__subtitle {
    margin: .375rem 0
}

.article--style-a .article__body {
    padding: 0 1.5rem
}

.footer {
    width: 100%;
    text-align: center;
    font-size: .875rem;
    padding: .375rem 1.5rem
}

.header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 1.5rem .75rem
}

@media only screen and (min-width:37.5625em) {
    .header {
        padding: 1.5rem
    }
}

.header__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.header__logo {
    line-height: 0;
    margin-bottom: 0;
    width: 2.875rem;
    margin-right: .625rem
}

.header__logo a {
    display: block
}

.svg-logo {
    fill: #3084EC
}

@media only screen and (max-width:48em) {
    .navigation__menu {
        position: fixed;
        top: 5.625rem;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: solid .3125rem #3084EC;
        background: #fff;
        padding: .625rem;
        z-index: 1;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
        transition: transform 350ms ease, -webkit-transform 350ms ease
    }
}

.navigation--menu-in .navigation__menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.primary-navigation,
.utility-navigation {
    float: left;
    width: 100%;
    text-align: center
}

@media only screen and (min-width:48.0625em) {
    .navigation__menu {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .primary-navigation,
    .utility-navigation {
        width: auto;
        text-align: left
    }
}

.primary-navigation li,
.utility-navigation li {
    display: block;
    border-bottom: solid .125rem #3084EC
}

@media only screen and (min-width:48.0625em) {
    .primary-navigation li,
    .utility-navigation li {
        border: none;
        display: inline-block;
        margin: 0 .75rem
    }
}

.primary-navigation a,
.utility-navigation a {
    display: block;
    padding: .75rem 0;
    color: #404040;
    text-transform: lowercase
}

.utility-navigation {
    margin-bottom: .375rem;
    margin-top: 1.5rem
}

@media only screen and (min-width:48.0625em) {
    .primary-navigation a,
    .utility-navigation a {
        padding: 0
    }
    .utility-navigation {
        margin: 0;
        float: right
    }
}

.utility-navigation li {
    display: inline-block;
    border: none
}

.utility-navigation a {
    display: block;
    padding: .75rem;
    transition: color 250ms ease
}

.intro,
.navigation__menu-actions {
    display: -webkit-flex;
    display: -ms-flexbox
}

.utility-navigation a:hover {
    color: #3084EC
}

.utility-navigation .icon {
    vertical-align: middle;
    font-size: 2rem
}

.navigation__menu-actions {
    display: flex
}

@media only screen and (min-width:48.0625em) {
    .utility-navigation a {
        padding: .75rem 0
    }
    .navigation__menu-actions {
        display: none
    }
}

.navigation__menu-btn .icon {
    transition: color 250ms ease;
    font-size: 1.75rem;
    vertical-align: middle;
    color: #404040
}

.intro__title,
.navigation__menu-btn:hover .icon {
    color: #3084EC
}

.navigation__menu-open {
    display: block
}

.navigation--menu-in .navigation__menu-open,
.navigation__menu-close {
    display: none
}

.navigation--menu-in .navigation__menu-close {
    display: block
}

.intro {
    text-align: center;
    display: flex
}

@media only screen and (min-width:37.5625em) {
    .intro {
        padding-top: 2.25rem
    }
}

.intro__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 70vh
}

.intro__title {
    font-family: code_light, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.intro__body {
    color: #F44336
}

.profile__copy {
    float: left;
    width: 100%
}

@media only screen and (min-width:48.0625em) {
    .profile__copy {
        width: 80%
    }
}

.profile__media {
    float: left;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0 20%
}

@media only screen and (min-width:37.5625em) {
    .profile__media {
        padding: 0 35%
    }
}

@media only screen and (min-width:48.0625em) {
    .profile__media {
        padding: .625rem;
        width: 20%;
        max-width: 11.25rem;
        float: right;
        text-align: right
    }
}

.profile__media img {
    border-radius: 50%;
    border: .25rem solid #1C1CC3
}

.random-image {
    opacity: 0;
    transition: opacity .3s ease-in
}

.random-image.random-image--in {
    opacity: 1
}

.section {
    float: left;
    width: 100%
}

.section.section--style-b {
    margin: 1.125rem 0
}

.section--style-a .section__header {
    margin-bottom: 1.5rem
}

.section--style-b .section__header {
    margin-bottom: .375rem
}

.section--style-a .section__title {
    margin-bottom: 0;
    color: #3084EC
}

.section--style-b .section__title {
    margin-bottom: 0;
    color: #333
}

.section--style-a .section__media {
    width: 100%;
    margin: 0 auto
}

@media only screen and (min-width:48.0625em) {
    .section--style-a .section__media {
        width: 50rem
    }
}

.section--style-a .section__media figcaption {
    font-style: italic;
    font-size: .875rem;
    padding-left: .625rem
}

.boilerplate-page-title {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    width: 100%;
    clear: both;
    font-weight: 700;
    font-family: Sans-Serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0
}

.boilerplate-page-title b {
    font-weight: 700
}

.boilerplate-page-title span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    font-family: Sans-Serif;
    vertical-align: baseline
}