// header.scss

.header {

}

.header-inner {
    display: block;
    position: relative;
    padding-top: $vr*4;
    padding-bottom: $vr*3;

    @media #{$BPD} {
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $vr*4 0;

        .no-flexbox & {
            display: table;
            width: 100%;
        }
    }
}


.header-logo {
    position: relative;

    @media #{$BPD} {
        margin: 0 $ggw*5;

        .no-flexbox & {
            display: table-cell;
            text-align: center;
            width: 50%;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: $ggw*3;
            height: 1px;
            background-color: $brand-color-a;
        }

        &:before {
            left: 100%;
        }

        &:after {
            right: 100%;
        }
    }

    .logo {
        text-align: center;
        font-size: 24px;
        line-height: $vr*6;
        text-transform: uppercase;
        //letter-spacing: 10px;
        padding-left: 10px;
        transform: scale(0.6);
        opacity: 0;
        transition: all 1200ms ease;
        transition-delay: 250ms;

        .page-loaded & {
            letter-spacing: 10px;
            transform: scale(1);
            opacity: 1;
        }

        @media #{$BPD} {
            margin: 0 $ggw;
        }
    }
}

.header-actions {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    width: 50%;
    margin: 0;

    @media #{$BPD} {
        position: relative;
        margin: 0 $ggw;
        top: auto;
        width: auto;

        .no-flexbox & {
            display: table-cell;
        }
    }
}

.header-actions-left {
    left: 0;

    @media #{$BPD} {
        left: auto;
        text-align: left;
    }
}

.header-actions-right {
    right: 0;

    @media #{$BPD} {
        right: auto;
        text-align: right;
    }
}

.header-action-link {
    text-decoration: none;
    color: $color-text;
    font-size: 30px;
    margin: 0 10px;
    transition: transform 150ms ease-in-out;

    &:hover {
        transform: scale(1.2) rotate(-15deg);
    }

    .icon {
    }
}
