// introduction.scss

.introduction {
    float: left;
    width: 100%;
    margin-bottom: $vr*6;
}

.introduction-header {
    margin-bottom: $vr*20;
}

.introduction-title {
    display: none;

    @media #{$BPD} {
        display: block;
        float: left;
        padding-bottom: $vr*3;
        margin-bottom: $vr*3;
        border-bottom: solid 3px darken($brand-color-a, 15%);
    }
}

.introduction-subtitle {
    float: left;
    clear: left;
    margin-bottom: $vr*4;
}

.introduction-header-text {
    float: left;
    clear: left;
    color: $brand-color-d;
}

.introduction-body {
    float: left;
    width: 100%;

    @media #{$BPD} {
        display: flex;
    }
}
