// for monitor-mq.js
#monitor_mq {
	display: block;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: -9999em;
	left: -9999em;
	// smallest
	width: $break-point-a;

	@media #{$BPB} {
		width: $break-point-b-px;
	}

	@media #{$BPC} {
		width: $break-point-c-px;
	}

	@media #{$BPD} {
		width: $break-point-d-px;
	}

	@media #{$BPE} {
		width: $break-point-e-px;
	}

	@media #{$BPF} {
		width: $break-point-f-px;
	}

	@media #{$BPG} {
		width: $break-point-g-px;
	}
}
