// type.less

// Headers
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
    margin-top: $vr*2;
	padding: 0;
    font-family: $font-family-sans-serif;
	font-weight: $font-weight-light;
    color: $brand-color-a;

	a,
	a:hover {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 48px;
	line-height: $vr*10;
	margin-bottom: $vr*3;

	@media (min-width: $break-point-g) {
		font-size: 62px;
		line-height: $vr*12;
		margin-bottom: $vr*4;
	}
}

h2, .h2 {
	font-size: 40px;
	line-height: $vr*8;
	margin-bottom: $vr*3;

	@media (min-width: $break-point-g) {
		font-size: 54px;
		line-height: $vr*10;
		margin-bottom: $vr*3;
	}
}

h3, .h3 {
	font-size: 34px;
	line-height: $vr*6;
	margin-bottom: $vr*2;

	@media (min-width: $break-point-g) {
		font-size: 48px;
		line-height: $vr*8;
		margin-bottom: $vr*2;
	}
}

h4, .h4 {
	font-size: 28px;
	line-height: $vr*5;
	margin-bottom: $vr*2;

	@media (min-width: $break-point-g) {
		font-size: 38px;
		line-height: $vr*8;
		margin-bottom: $vr*2;
	}
}


h5, .h5 {
    font-size: 20px;
	line-height: $vr*4;
	margin-bottom: $vr*2;

	@media (min-width: $break-point-g) {
		font-size: 28px;
		line-height: $vr*7;
		margin-bottom: $vr*2;
	}
}

// Header Styles
.header-style-a {
}

// only used on the stylesheet
.header-stylesheet,
.header-styleguide {
	padding-bottom: $vr*2;
	padding-top: $vr*6;
	border-bottom: 1px solid #ccc;
	margin-bottom: $vr*4;
	color: #bbb;
	font-size: 18px;
	line-height: $vr*4;
	text-align: left;

	&:first-child {
		padding-top: 0;
	}
}

// Other type

p {
	margin-top: 0;
	margin-bottom: $vr*2;

	@media (min-width: $break-point-f) {
		//margin-bottom: $vr*4;
	}
}

a {
    color: $brand-color-c;
}
