// intro.scss

.intro {
    text-align: center;
    display: flex;

    @media #{$bp-c-and-up} {
        padding-top: $vr*6;
    }
}

.intro__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}

.intro__title {
    @extend .giga;
    font-family: $font-family-title;
    color: $brand-color-a;
}

.intro__body {
    color: $brand-color-d;
}