// sections.scss

.section {
    float: left;
    width: 100%;

    &.section--style-a {

    }

    &.section--style-b {
        margin: $vr*3 0;
    }
}

.section__header {

    .section--style-a & {
        margin-bottom: $vr*4;
    }

    .section--style-b & {
        margin-bottom: $vr;
    }
}

.section__title {

    .section--style-a & {
        @extend .mega;
        margin-bottom: 0;
        color: $brand-color-a;
    }

    .section--style-b & {
        @extend .beta;
        margin-bottom: 0;
        color: $color-text;
    }
}

.section__body {

}

.section__media {

    .section--style-a & {
        width: 100%;
        margin: 0 auto;

        @media #{$bp-d-and-up} {
            width: 800px;
        }
    }

    figcaption {

        .section--style-a & {
            font-style: italic;
            font-size: 14px;
            padding-left: 10px;
        }
    }
}