// accordion.scss

.accordion {
    float: left;
    width: 100%;

    &.accordion-style-a {
        width: 50%;
        clear: left;
        margin-bottom: $vr*2;
        background: #fff;
        padding: $vr*2 $ggw;
        border: solid 2px $brand-color-a;
        border-radius: 0px 40px 40px 40px;
        overflow: hidden;
        transition: all 300ms ease;

        &.accordion-in {
            width: 100%;
            border-radius: 0px 10px 10px 10px;
        }
    }
}

.accordion-title {
    @extend .beta;
    color: $brand-black;
}

.accordion-body {
    transition: all 200ms ease;
    max-height: 0;
    opacity: 0;

    .accordion-in & {
        max-height: 400px;
        opacity: 1;
    }
}