// intro.scss

.intro {
    text-align: center;
    display: flex;

    @media #{$BPC} {
        padding-top: $vr*6;
    }
}

.intro-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}

.intro-title {
    @extend .giga;
    font-family: $font-family-title;
    color: $brand-color-a;
    //text-shadow: 1px 1px 1px #8C8C8C;
}

.intro-body {
    color: $brand-color-d;
}