// profile.scss

.profile-copy {
    float: left;
    width: 100%;
    
    @media #{$BPD} {
        width: 80%;
    }
}

.profile-media {
    float: left;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0 20%;

    @media #{$BPB} {
        padding: 0 30%;
    }

    @media #{$BPC} {
        padding: 0 35%;
    }
    
    @media #{$BPD} {
        padding: 10px;
        width: 20%;
    }

    img {
        border-radius: 50%;
        border: solid 4px $brand-color-g;
    }
}