// sections.scss

.section {
    float: left;
    width: 100%;

    &.section-style-a {

    }

    &.section-style-b {
        margin: $vr*3 0;
    }
}

.section-header {

    .section-style-a & {
        margin-bottom: $vr*4;
    }

    .section-style-b & {
        margin-bottom: $vr;
    }
}

.section-title {

    .section-style-a & {
        @extend .mega;
        margin-bottom: 0;
        color: $brand-color-a;
    }

    .section-style-b & {
        @extend .beta;
        margin-bottom: 0;
        color: $color-text;
    }
}

.section-body {

}