// tabs.scss

.tab-list {
	@extend .list-unstyled;
	display: none;
	overflow: hidden;

	@media #{$BPD} {
		display: block;
	}

	li {

		.tabs-style-a & {
			float: left;
		}
	}
}

.tab {

	.tabs-style-a & {
		display: block;
		position: relative;
		z-index: 1;
		color: #fff;
		text-decoration: none;
		padding: 10px 20px;
		background-color: $brand-black;
		transition: background 200ms ease-in-out;

		@media #{$BPD} {
			margin: 0 5px;
			font-weight: $font-weight-bold;
		}

		&:hover,
		&:focus {
			background-color: $brand-color-b;
		}

		&.active {
			background-color: $brand-color-a;
		}
	}
}

.tab-panel-container {
    float: left;
    width: 100%;

	.tabs-style-a & {

		@media #{$BPD} {
			background-color: $brand-color-a;
			padding: 20px;
		}
	}
}

.tab-panel {

	.tabs-style-a & {
		float: left;
		width: 100%;
		margin-bottom: 1px;
	}

	@media #{$BPD} {

		.tabs-style-a & {
			margin: 0;
		}

		.js & {
			display: none;
		}

		&.active {
			display: block;
		}
	}
}

.tab-panel-header {
	@extend .visually-hidden-bpd;
}

.tab-panel-title {
	margin: 0;
}

.tab-panel-body {

	.tabs-style-a & {
		float: left;
		width: 100%;
		background-color: $brand-color-a;
		color: #fff;
		padding: 10px;
		font-weight: 500;
		font-size: 18px;
	}

    display: none;

    @media #{$BPD} {
        display: block;
    }

	.active & {
		display: block;
	}
}