---
title: About
fullPage: true
---
{{#extend "layout--a"}}
  {{#content "main"}}
    
    <div class="row">
        
        <section class="section section--style-a col m24">
            <header class="section__header">
                <h2 class="section__title">
                    About
                </h2>
            </header>
            <div class="section__body">
                <article class="article article--style-a">
                    <header class="article__header">
                        <h2 class="article__title">A little about me</h2>
                    </header>
                    <div class="article__body">
                        <div class="profile__copy">
                            <p>
                                I'm a front end developer currently working at <a href="http://www.building-blocks.com" rel="external">Building Blocks</a> where I've been since April 2012.
                            </p>
                            <p>
                                I've been working in the industry since around 2010, building tiny static sites for driving instructors and local businesses all the way up to building the entire front end for huge, international, multi billion dollar businesses.
                            </p>
                            <p>
                                My focus is as a dedicated FE dev writing modular, maintainable HTML, CSS and JS ready to integrate with the backend (which will usually be CMS driven) where my talented backend colleagues take over.
                            </p>
                            <p>
                                I've been doing this for a few years now and the longer I do it the more I enjoy it, there's constantly new things to learn, new techniques to use and because I have the good fortune to work with and know some very talented people I'm always on my toes.
                            </p>
                        </div>
                        <figure class="profile__media">
                            <img src="images/andy.jpg" alt="picture of andy blackledge" />
                        </figure>
                    </div>
                </article>
            </div>
        </section>
    </div>

  {{/content}}
{{/extend}}
