---
title: Blog
fullPage: true
---
{{#extend "layout--a"}}
  {{#content "main"}}
    
    <div class="row">
        
        <section class="section section--style-a col m24">
            <header class="section__header">
                <h2 class="section__title">
                    Blog
                </h2>
            </header>
            <div class="section__body">
                <p>
                    Blog to come later!
                </p>

                <figure class="section__media random-image" data-random-image-path="/images/under-construction/under-construction_" data-random-image-filetype="jpg" data-random-image-number="8">
                    <img src="" alt="under construction image" />
                    <figcaption>
                        Remember when we used to do this?!? 😝
                    </figcaption>
                </figure>
            </div>
        </section>
    </div>

  {{/content}}
{{/extend}}