---
title: Example Grid
layoutPage: true
---

{{#extend "layout--a"}}
	{{#content "main"}}

    <div class="row">
        <div class="grid-example col m24">
        	<p>24 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m23">
        	<p>23 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m22">
        	<p>22 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m21">
        	<p>21 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m20">
        	<p>20 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m19">
        	<p>19 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m18">
        	<p>18 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m17">
        	<p>17 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m16">
        	<p>16 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m15">
        	<p>15 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m14">
        	<p>14 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m13">
        	<p>13 col</p>
        </div>
    </div>

	<div class="row">
        <div class="grid-example col m12">
        	<p>12 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m11">
        	<p>11 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m10">
        	<p>10 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m9">
        	<p>9 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m8">
        	<p>8 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m7">
        	<p>7 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m6">
        	<p>6 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m5">
        	<p>5 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m4">
        	<p>4 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m3">
        	<p>3 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m2">
        	<p>2 col</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-example col m1">
        	<p>1 col</p>
        </div>
    </div>
	{{/content}}
{{/extend}}
