---
title: Home
fullPage: true
---
{{#extend "layout--a"}}
  {{#content "main"}}
    <div class="row">
        <div class="col m24">
            <h2>{{example.title}}</h2>
            <p>{{{example.intro}}}</p>
        </div>
    </div>
  {{/content}}
{{/extend}}
