// layout.scss

.page {
}

.main {
	overflow: hidden;
	position: relative;
}

.layout {
	@include clearfix();
	position: relative;
	margin: 0 $ggw;
	max-width: $max-width;

	@media #{$BPF} {
		margin: 0 auto;
	}
}

