<article class="intro {{class}}">
    <div class="intro__inner">
        <header class="intro__header">
            <h2 class="intro__title">{{{title}}}</h2>
        </header>
        <div class="intro__body">
            <p>{{{copy}}}</p>
        </div>
    </div>
</article>