// boilerplate.scss

.boilerplate-page-title {
    padding: 20px 0 10px;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    clear: both;
    font-weight: bold;
    font-family: Sans-Serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    b {
        font-weight: bold
    }

    span {
        font-weight: normal;
        font-size: 16px;
        line-height: 1;
        font-family: Sans-Serif;
        vertical-align: baseline;
    }
}

