<footer class="footer" id="site-footer" role="contentinfo">
    <p>
        Andy Blackledge. Writer of codes. 2019. <a href="https://github.com/aFrontendDev/andyblackledge">Source of the codes (github)</a>
    </p>
</footer>
