// lists

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-unstyled-full {
	list-style: none;
	margin: 0;
	padding: 0;

	ol,
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.list-style-a {
	@extend .list-unstyled;

	li {
		border-bottom: dotted 2px $brand-black;
		padding-left: $ggw;
		margin-bottom: $vr*2;
	}
}