// type

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-title;
	margin-top: 0;

	a {
		text-decoration: none;
	}

	strong {
		font-family: $font-family-title-bold;
	}
}

h1,
.h1,
.giga {
	font-size: $vr*7;
	line-height: $vr*7;
	margin-bottom: $vr;

	@media #{$BPC} {
		font-size: $vr*14;
		line-height: $vr*14;
		margin-bottom: $vr*2;
	}
}

h2,
.h2,
.mega {
	font-size: $vr*6;
	line-height: $vr*6;
	margin-bottom: $vr;
	
	@media #{$BPC} {
		font-size: $vr*9;
		line-height: $vr*9;
		margin-bottom: $vr*2;
	}
}

h3,
.h3,
.alpha {
	font-size: $vr*5;
	line-height: $vr*5;
	margin-bottom: $vr;

	@media #{$BPC} {
		font-size: $vr*7;
		line-height: $vr*7;
		margin-bottom: $vr;
	}
}

h4,
.h4,
.beta {
	font-size: $vr*4;
	line-height: $vr*4;
	margin-bottom: $vr*2;
}

h5,
.h5,
.gamma {
	font-size: $vr*3;
	line-height: $vr*3;
	margin-bottom: $vr*2;
}
h6,
.h6,
.delta {
	font-size: $font-size-base;
	line-height: $vr*3;
	margin-bottom: $vr*2;
}

p {
	margin-bottom: $vr*3;
}