{{#extend "master"}}
    {{#content "master__head" mode="append"}}
        {{#block "head"}}{{/block}}
    {{/content}}

    {{#content "master__main"}}
        <div class="container">
            {{#block "main"}}{{/block}}
        </div>
    {{/content}}

    {{#content "master__foot" mode="append"}}
        {{#block "foot"}}{{/block}}
    {{/content}}
{{/extend}}
